{% extends "base.html" %}

{% block title %}
Авторизация
{% endblock %}

{% block content_title %}
Вход в систему
{% endblock %}

{% block content %}

    <form action="" method="POST" autocomplete="off">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember() }} {{ form.remember.label }}</p>
        
        <p>{% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}</p>

        <p>{{ form.submit() }}  <a href="{{url_for('auth.reset_pass')}}">Забыл пароль</a>
        </p>

    </form>

    {{ username }}
    


{% endblock %}

